body {
    font-size: 1.125rem;
    color: #707070;
    margin: 0;
}

/* layout styles */
.container {
    width: 95%;
    max-width: 980px;
    margin: 0 auto;
}
.columns {
    display: flex;
    margin: 1em 0;
    justify-content: space-between;
    align-items: flex-start; 
    /* align-items: flex-start; to avoid getting the bg-col background-color: to strech to math height of columns:  */
}

/* the % left for the justify-content is 15% */

.x1-col {
  width: 20%;
}

.x2-col {
  width: 45%;
}

.x3-col {
  width: 70%;
}

img {
    max-width: 100%;
    
}

.bg-col {
  background-color: black;
  color: white;
  padding: 1em;
}

/* typography styles */

h1 {
    font-size: 3rem;
    text-align: center;
    color: #212614;
}

h1 .highlighted {
    color: #B7832F
}

h2 {
    font-size: 1.5rem;
}

p {
  margin-top: 0;
}

